.news-title, .new-title {
    text-align: center;
    margin: 0;
}

.new-title {
    border-top-style: solid;
    border-width: thin;
    cursor: pointer;
}

.new-content {
    margin: 0;
    display: none;
}

@media screen and (orientation: portrait) {
    .new-title {
        margin: 0;
    }

    .news-title {
        font-size: calc(6vw);
    }
}
