.contactsCorner {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.7em;
    text-align: right;;
}

@media screen and (orientation: portrait) {
    .contactsCorner {
        font-size: 1.2em;
        right: 0.5em;
    }
}