h1 {
    margin-bottom: 0;
}

.question{
  font-size:24px;
    cursor: pointer;
}

.answer{
  display: none;
}

form{
    display: block;
    position: relative;
    width: 100%;
  margin-top: 2%;
}

input, textarea {
    display: block;
    margin: 1em;
    font-family: "Comic Sans MS", cursive;
}

input:not(#input_submit), textarea {
    width: 80%;
}

#input_quastion {
    height: 10em;
    resize: vertical;
}
