.date_homework
{
  width: 85%;
  box-shadow: -3px 3px 8px black;
  margin: 10px;
  margin-left: 5%;
  padding: 0.5%;
}

.title_date_homework
{
  font-family:"Comic Sans MS";
	color: #06F;
  margin: 0;
  text-align: center;
}

.group_homework
{
  color: black;
  display: none;
  text-align: center;
}

.homework
{
  display: none;
  margin: 1%;
  text-align: justify;
}
