p{
    text-align: center;
    text-decoration: underline;
}

h1{
    text-align: center;
}

.lesson{
    position: relative;
    width: 100%;
}

.lesson-name{
    text-align: center;
}

.lesson-image{
    position: relative;
    top: 1px;
    background: no-repeat center;
    background-size: contain;
    margin: 5px;
}

#lesson1 .lesson-image{
    width: 400px;
    height: 300px;
    float: right;
    background-image: url("../content/lessons/1.jpg");
}

#lesson3 .lesson-image{
    width: 280px;
    height: 400px;
    float: right;
    background-image: url("../content/lessons/3.jpg");
}

#lesson4 .lesson-image{
    width: 450px;
    height: 300px;
    float: left;
    background-image: url("../content/lessons/4.jpg");
}

#lesson5 .lesson-image{
    width: 350px;
    height: 440px;
    float: right;
    background-image: url("../content/lessons/5.jpg");
}