.lesson{
    position: relative;
    width: 100%;
}

.lesson-name{
    text-align: center;
}

.lesson-image{
    position: relative;
    top: 1px;
    width: 250px;
    height: 400px;
    background-position: center;
    background-size: cover;
}

#lesson1 .lesson-image{
    float: right;
    background-image: url("../content/lessons/1.jpg");
}

#lesson2 .lesson-image{
    float: left;
    background-image: url("../content/lessons/2.jpg");
}

#lesson3 .lesson-image{
    display: none;
    float: right;
    background-image: url("../content/lessons/3.jpg");
}

#lesson4 .lesson-image{
    display: none;
    float: left;
    background-image: url("../content/lessons/4.jpg");
}

#lesson5 .lesson-image{
    float: right;
    background-image: url("../content/lessons/5.jpg");
}

#lesson6 .lesson-image{
    float: left;
    background-image: url("../content/lessons/6.jpg");
}