.photo {
    max-height: 100%;
    max-width: 100%;
    height: 150px;
    margin: 0.5%;
    border: 10px double #06F;
    border-radius: 20px;
    cursor: pointer;
}

.block_photo {
    text-align: center;
}

@media (max-width: 600px) {
    .photo {
        height: 50px;
    }
}

#gallery {
    position: fixed;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 98%;
    box-shadow: 0 0 10px #000;
    background: linear-gradient(160deg, #FFF, #E1EC1C 80%) fixed;
    display: none;
}

.gallery-main {
    padding: 3px;
    height: 99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-image, .gallery-button {
    height: 100%;
    background: no-repeat center;
    background-size: contain;
}

.gallery-image {
    flex-grow: 0;
    width: 60%;
}

.gallery-button {
    flex-grow: 0;
    width: 20%;
    margin: 5px;
    cursor: pointer;
}

#gallery-button-close {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    background: url("../images/icon_close.png") no-repeat center;
    background-size: contain;
    right: 0;
    top: 0;
    z-index: 2;
}

#ghoast {
    width: 0;
    flex-grow: 0;
}