#menu_applications, #menu_payment, #menu_timetable, #menu_homework, #menu_whatknow, #menu_recommendations {
	display: none;
}

.menu-item {
	background-image: url("../images/oblako.gif");
	background-size: 100% 100%;
	padding: 5px;
}

.menu-main,.menu-item{
	font-family:"Comic Sans MS", cursive;
	text-align: center;
	margin: 2%;
}

.menu-main {
    display: none;
}

@media screen and (orientation: portrait){
    .menu-main{
        display: block;
    }

	.menu-item,	.menu-main{
		font-size: calc(5vw);
		background-image: url("../images/oblako.gif");
		background-size: 100% 100%;
	}

	.menu-item{
		display: none;
	}
}
