.page{overflow-x:hidden;}

.news{
	right: 1px;
	top: 25%;
	width: 30%;
	position: static;
	float: right;
	margin: 10px;
	box-shadow: -3px 3px 7px #000;
	border-radius: 10px;
	font-family:"Comic Sans MS", cursive;
}

.news_title{
	text-align:center;
	font-size: calc(3vw);
	margin: 0;
	font-family:"Monotype Corsiva";
}

.new_title{
	font-size: calc(1vh + 1vw);
	margin: 0;
	border-top-style: solid;
	border-width: thin;
}

.new_content{
	font-size: calc(1vh + 1vw);
	margin: 0;
	display: none;
}

@media (max-width: 600px) {
.news{
	width: 98%;
}

.new_title{
	font-size: calc(2vh + 2vw);
	margin: 0;
}

.new_content{
	font-size: calc(2vh + 2vw);
}

.news_title{
	font-size: calc(6vw);
}
}
