.timetable{
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
  font-size: 1.3vw;
  border-width: 5px;
  border-radius: 10px;
  border-color: #06F;
  border-style: double;
}

.td{
  border: solid 5px red;
  border-radius: 10px;
}
