.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    height: 100%;
    width: 99%;
    padding: 5px;
}

.logotype{
    flex-shrink: 2;
    height: 100%;
    width: 10%;
    margin: 0;
    position: relative;
    background-size: contain;
    background-image: url("../images/sun.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.logotype a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.title{
    height: 100%;
    flex-grow: 2;
}

.text-title{
    font-size: calc(3.4vh);
    font-family: "Monotype Corsiva", serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

.image-title{
    height: 85%;
    position: relative;
    background-image: url("../images/title.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-title a{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (orientation: portrait) {
    .logotype{
        display: none;
    }
}